@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* #13294B - illini blue */
/* #FF5F05 - illini orange */

* {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

body {
    background-color: #FF5F05;
    
}

.heading {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

section {
    padding : 1rem 5%;
    min-height: 100vh;
}

.home {
    background-image : url("images/home_background.jpg")
}
@keyframes typing {
    from {width: 0};
}

@keyframes cursor {
    50% { border-color: transparent;}
}
.home .content .hi {
    text-align: center;
    display : inline-block;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-name: 
        typing 2s steps(19)
        cursor .4s step-end alternate infinite;
}




.home .content .hi {
    font-size: 70px;
    font-weight: bold;
    color : white;
}

.home .content p{
    color: white;
}
/* special effect for name */
.home .content .name {
    font-style: italic;
}


